name: video_player
description: Flutter plugin for displaying inline video with other Flutter
  widgets on Android, iOS, macOS and web.
repository: https://github.com/Ahlisen/packages/tree/main/packages/video_player/video_player
issue_tracker: https://github.com/flutter/flutter/issues?q=is%3Aissue+is%3Aopen+label%3A%22p%3A+video_player%22
publish_to: none
version: 2.10.0

environment:
  sdk: ^3.7.0
  flutter: ">=3.29.0"

flutter:
  plugin:
    platforms:
      android:
        default_package: video_player_android
      ios:
        default_package: video_player_avfoundation
      macos:
        default_package: video_player_avfoundation
      web:
        default_package: video_player_web

dependencies:
  flutter:
    sdk: flutter
  html: ^0.15.0
  video_player_android:
    git:
      url: https://github.com/Ahlisen/packages
      path: packages/video_player/video_player_android
      ref: 2192ba653f41dcb2960fd3df47be5ddd5483ffc3
  video_player_avfoundation:
    git:
      url: https://github.com/Ahlisen/packages
      path: packages/video_player/video_player_avfoundation
      ref: 0db2b033826f0a37302d09bc93f828a5666ff7c8
  video_player_platform_interface:
    git:
      url: https://github.com/Ahlisen/packages
      path: packages/video_player/video_player_platform_interface
      ref: cfbafe4343a0c9af797b144f2812cadf67246384
  video_player_web:
    git:
      url: https://github.com/Ahlisen/packages
      path: packages/video_player/video_player_web
      ref: 0db2b033826f0a37302d09bc93f828a5666ff7c8

dev_dependencies:
  flutter_test:
    sdk: flutter
  leak_tracker_flutter_testing: any

topics:
  - video
  - video-player
